
  <div class="ae-grid au-xs-ta-center au-mb-4">
    
    <div *ngFor="let persona of infoService.equipo"  class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
   
      <img [src]="persona.url" alt="" class="au-mb-3">
      
    </div>

  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Quiénes somos</h4>
      <p>Nos enfocamos en crear la perfecta combinación de diseño rústico y personalización con nuestra línea de estanterías y accesorios en madera.
      Cada pieza es una obra maestra de artesanía, cuidadosamente elaborada para infundir calidez y estilo en tu hogar. Lo
      mejor de todo es que tú tienes el control total sobre el tamaño y el color, por lo cual el valor varia segun su tamaño, permitiéndote crear un mueble 
      que se adapte perfectamente  a tus espacios y a tu estilo único..</p>
    </div>
  </div>

 